PORT=5001
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
RESQ_ADMIN_EMAIL=
RESQ_ADMIN_PASSWORD=
GOOGLE_CLIENT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=common
MICROSOFT_AUTHORITY=https://login.microsoftonline.com/common
MICROSOFT_CLIENT_SECRET=